<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/login.css">
  <title>Login</title>
</head>
<body>

  <div class="container d-flex justify-content-center align-items-center min-vh-100">

    <div class="row border rounded-5 p-3 bg-white shadow box-area">

      <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background: #048E7B;">
        <div class="featured-image mb-0">
          <img src="/static/images/login logo.png" class="img" style=" border-radius: 25px; width: 450px;">
        </div>
    
      </div> 

      <div class="col-md-6 right-box">
        <div class="row align-items-center">
          <div class="header-text mb-4">
            <h2>Hello, Again</h2>
            <p>We are happy to have you back.</p>
          </div>
          <form action="{{ url_for('login') }}" method="POST">
            {{ form.hidden_tag() }}
            {{ form.username.label }}
            {{ form.username }}<br>
            {{ form.password.label }}
            {{ form.password }}
            <button type="submit" class="btn btn-lg btn-primary w-100 fs-6" style="background-color: rgb(70, 187, 101); border-color: prgb(23, 187, 116)">Login</button>
          </form>
          <div class="input-group mb-5 d-flex justify-content-between">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="formCheck">
              <label for="formCheck" class="form-check-label text-secondary"><small>Remember Me</small></label>
            </div>
          </div>
          <div class="row">
            <h3>Don't have an account? <a href="{{ url_for('register') }}" style="text-decoration: none;">Sign Up</a></h3>
          </div>
        </div>
      </div> 

    </div>
  </div>

</body>
</html>
